<div class="header">
    <div class="header-left pt-3 header-left-modif">
        <img class="logoav" src="assets/svg/logoHealthConnect-02.svg" width="35" height="35" alt=""> 
      
        <span class="nmclin" >Klyntic | {{name_setting}} <br> Dr.{{user.name}} {{user.surname}}</span>
        
    </div>
    <a (click)="toggleSideBar()" id="toggle_btn" href="javascript:void(0);"><img src="assets/img/icons/bar-icon.svg"  alt=""></a>
    <a (click)="toggleMobileSideBar()" id="mobile_btn" class="mobile_btn float-start" ><img src="assets/img/icons/bar-icon.svg"  alt=""></a>
    <!-- <div class="top-nav-search mob-view">
        <form>
            <input type="text" class="form-control" placeholder="Search here">
            <a class="btn" ><img src="assets/img/icons/search-normal.svg" alt=""></a>
        </form>
    </div> -->
    <!-- [darkMode]="darkMode" -->
    <!-- <app-tasabcv></app-tasabcv> -->
    <app-notificacionesupdate [routes]="routes"  [user]="user" [usuario]="usuario" [imagenSerUrl]="imagenSerUrl" [logout]="logout"></app-notificacionesupdate>
    
    
</div>
