.donut-chart-custom {
    display: flex;
    justify-content: center;
}
.scrooldiv{
    height: 37vh;
    overflow: hidden;
    overflow-y: scroll;
}
.btn-outline-primary.rounded-circle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  font-weight: bold;
}
