.notifications .drop-scroll {
    height: auto;
    width: 400px;
}

.globowhite {
    display: flex;
    width: 30px;
    height: 30px;
    transform: translate(20px, 10px);
}

.globowhite.globoblack {
    display: none;
}

.globoblack {
    display: none;
    width: 30px;
    height: 30px;
    transform: translate(20px, 10px);
}

body.dark .globoblack {
    display: flex;
}

body.dark .globowhite {
    display: none;
}

.topnav-dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    
    .clear-noti {
        font-size: 12px;
        color: #007bff;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
