<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="container-fluid px-0">
    <div class="row">
      <!-- Login logo -->
      <div class="col-lg-6 login-wrap">
        <div class="login-sec">
          <div class="log-img">
            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo" />
          </div>
        </div>
      </div>
      <!-- /Login logo -->

      <!-- Login Content -->
      <div class="col-lg-6 login-wrap-bg">
        <div class="login-wrapper">
          <div class="loginbox">
            <div class="login-right">
              <div class="login-right-wrap">
                <div class="account-logo">
                  <a [routerLink]="routes.adminDashboard"
                    ><img src="assets/svg/logoHealthConnect-01.svg" 
                    style="width: 50%; display: flex; margin: auto;"
                    alt=""
                  /></a>
                  <p style="text-align:center; margin: 0; padding:0">Admin Citas Médicas.</p>
                  <p style="text-align:center; margin: 0; padding:0">Consultorio.</p>
                </div>
                <h2 style="text-align:center; margin: 0; padding:0">Comencemos</h2>
                <p style="text-align:center; margin: 0; padding:0">Crea tu cuenta y comienza a disfrutar de la
                experiencia.</p>
                <br>
                <!-- Form -->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="row">
                    <div class="form-group col-xs-12 col-sm-6">
                      <label>Nombre <span class="login-danger">*</span></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="name"
                        [ngClass]="{
                          'is-invalid':
                            f['name'].touched && f['name'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['name'].touched && f['name'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['name'].errors &&
                            f['name'].errors['required']
                          "
                        >
                        Apellido es requerido.
                        </div>
                      </div>
                      <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                      <label>Apellido <span class="login-danger">*</span></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="surname"
                        [ngClass]="{
                          'is-invalid':
                            f['surname'].touched && f['surname'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['surname'].touched && f['surname'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['surname'].errors &&
                            f['surname'].errors['required']
                          "
                        >
                        Apellido es requerido.
                        </div>
                      </div>
                      <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                      <label>N.Identificación <span class="login-danger">*</span></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="n_doc"
                        [ngClass]="{
                          'is-invalid': f['n_doc'].touched && f['n_doc'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['n_doc'].touched && f['n_doc'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['n_doc'].errors && f['n_doc'].errors['required']
                          "
                        >
                          Número de Identificación es requerido.
                        </div>
                        <div *ngIf="f['n_doc'].errors && f['n_doc'].errors['n_doc']">
                          Favor, Ingrese un Número de Identificación válido.
                        </div>
                      </div>
                      <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-6">
                      <label>Teléfono <span class="login-danger">*</span></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="mobile"
                        [ngClass]="{
                          'is-invalid': f['mobile'].touched && f['mobile'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['mobile'].touched && f['mobile'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['mobile'].errors && f['mobile'].errors['required']
                          "
                        >
                          Teléfono es requerido.
                        </div>
                        <div *ngIf="f['mobile'].errors && f['mobile'].errors['mobile']">
                          Favor, Ingrese un Teléfono válido.
                        </div>
                      </div>
                      <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                    </div>
                    <div class="form-group ">
                      <label>Correo Electrónico <span class="login-danger">*</span></label>
                      <input
                        class="form-control"
                        type="text"
                        formControlName="email"
                        [ngClass]="{
                          'is-invalid': f['email'].touched && f['email'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['email'].touched && f['email'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['email'].errors && f['email'].errors['required']
                          "
                        >
                          Email es requerido.
                        </div>
                        <div *ngIf="f['email'].errors && f['email'].errors['email']">
                          Favor, ingrese un correo válido
                        </div>
                      </div>
                      <div *ngIf="CustomControler !== 0" class="invalid-feedback">
                        {{ CustomControler }}
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label>Contraseña <span class="login-danger">*</span></label>
                      <input
                        class="form-control pass-input"
                        [type]="passwordClass ? 'text' : 'password'"
                        formControlName="password"
                        [ngClass]="{
                          'is-invalid':
                            f['password'].touched && f['password'].invalid
                        }"
                      />
                      <div
                        *ngIf="f['password'].touched && f['password'].invalid"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['password'].errors &&
                            f['password'].errors['required']
                          "
                        >
                           Contraseña es requerido.
                        </div>
                      </div>
                      <span (click)="passwordFunc()" [ngClass] = "passwordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                        class="profile-views toggle-password"
                      ></span>
                    </div>
                    <div class="form-group">
                      <label>Confirme Contraseña <span class="login-danger">*</span></label>
                      <input
                        class="form-control pass-input-confirm"
                        [type]="passwordClass ? 'text' : 'password'"
                        formControlName="confirmPassword"
                        [ngClass]="{
                          'is-invalid':
                            f['confirmPassword'].touched &&
                            f['confirmPassword'].invalid
                        }"
                      />
                      <div
                        *ngIf="
                          f['confirmPassword'].touched &&
                          f['confirmPassword'].invalid
                        "
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="
                            f['confirmPassword'].errors &&
                            f['confirmPassword'].errors['required']
                          "
                        >
                          Confirme Contraseña es requerido
                        </div>
                      </div>
                      <div
                        *ngIf="isValidConfirmPassword"
                        class="invalid-feedback"
                      >
                        Contraseña no coincide
                      </div>
                      <span (click)="confirmPasswordFunc()" [ngClass] = "confirmPasswordClass ? 'feather icon-eye' : 'feather icon-eye-off'"
                        class="profile-views confirm-password"
                      ></span>
                    </div>
                  </div>
                  <div class="forgotpass">
                    <div class="remember-me">
                      <label class="custom_check mr-2 mb-0  remember-me">
                        Acepto 
                        <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#aceptaTerminos">los términos y condiciones</a>
                        <input type="checkbox" name="acepta" formControlName="acepta" [value]="true" />
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group login-btn">
                    <button
                      [disabled]="form.invalid"
                      class="btn btn-primary btn-block"
                      type="submit"
                    >
                      Sign up
                    </button>
                  </div>
                </form>
                <!-- /Form -->

                <div class="next-sign">
                  <p class="account-subtitle">
                    Ya posee una cuenta con nosotros?
                    <a [routerLink]="routes.login">Ingresar</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Login Content -->
    </div>
  </div>
</div>
<!-- /Main Wrapper -->

<div class="modal " id="aceptaTerminos" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="aceptaTerminosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aceptaTerminosLabel">Términos y Condiciones</h5>
        <!-- <button type="button btn" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body">
        <p>Los datos recogidos en este sitio (únicamente el email o correo electrónico y el teléfono) serán almacenados en bases de datos solo para usos promocionales de esta App. 
          Dicha información contará con medidas de seguridad y protección de datos personales para prevenir la divulgación no autorizada.
          Así como la vinculación de información medica del paciente y/o laboratorios serán estrictamente de uso del doctor y/o con las clínicas 
          o consultorios que hayan adquirido las licencias de uso de Health Connect me.
           Los doctores, consultorios y/o clínicas podrán optar a uso de las funcionalidades 
           luego del periodo de prueba una vez adquiridas las licencias de uso mensual cuyo valor 
           será calculado desde 5.25% de los pagos por citas mensuales según Condiciones 
           de Uso de HealthConnect me. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Acepto</button>
      </div>
    </div>
  </div>
</div>
